# Title of notebook: DataScienceEcosystem

## Introduction: In this notebook, Data Science Tools and Ecosystem are summarized.

## List of some popular programming languages: 
1. python
2. R
3. Julia

## List of some data science libraries: 
1. pandas
2. numpy
3. matplotlib

| Data Science Tools| 
| ------------------| 
| VS code           | 
| Budibase          | 
| Vercel            |

### Some examples of arithmetic expression: 
1. addition of a to b results in value c: a+b=c
2. substraction of b from a results in value d: a-b=d
3. multiplication of a and b results in value e: a*b=e

## This an arithmetic expression to multiply then add integers, which results in value 17

In [13]:
(3*4)+5

17

## This will convert 200 minutes to hours by diving by the minutes by 60, which results in 3.33 hours

In [14]:
200/60

3.3333333333333335

## Objectives:
* Introduction
* List data science languages
* List data science libraries
* Table of Data Science tools

## Author
A. Danen Padiachy